.container {
    background-image: url('../assets/banner-natureza.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 45rem;
    text-align: center;
    color: white;
}
